/* Responsive styles */
@media screen and (max-width: 768px) {
    /* General Navigation container Header and Footer*/
    header .navbar {
        flex-direction: row;
        width: 100%;
        padding: 0px 30px;
    }
    
    header .navbar .menu-toggle {
        display: block;
    }

    header .navbar nav {
        display: none;
    }

    header .navbar nav.active {
        display: flex;
    }

    header .navbar ul.menu {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #eeeeee;
        text-align: center;
        z-index: 10;
    }

    header .navbar ul.menu li {
        margin: 10px 0;
    }

    header .navbar ul.menu li a {
        text-decoration: none;
        color: #04295e;
        font-weight: bold;
    }

    header .navbar ul.menu li a:hover,
    header .navbar ul.menu li a:focus {
        color: #175bb9;
    }

    /* Woocommerce Homepage Product Listing */
    .wp-block-woocommerce-product-collection  ul.wp-block-woocommerce-product-template {
        margin: 0 0 1.5em 0 !important;
    }

    /* Woocommerce Hero Banner Button */
    .wp-block-buttons>.wp-block-button.wp-block-button__width-25 {
        width: calc(40% - var(--wp--style--block-gap, .5em)* .75);
    }

    /* Woocommerce Product Header */
    .woocommerce header.woocommerce-products-header {
        margin: 20px 20px 0px;
    }

    /* Woocommerce Product Result Count */
    .woocommerce p.woocommerce-result-count {
        margin: 20px !important;
    }

    /* Woocommerce Product Sorting */
    .woocommerce form.woocommerce-ordering {
        margin: 20px !important;
    }

    /* Woocommerce Product Listing Block */
    .woocommerce ul.products {
        margin: 50px 20px !important;
    }
}